<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
    <script src="https://cdn.tailwindcss.com"></script> 
    <title>Document</title>
</head>
<body>
  <div class=" bg-gray-400 flex flex-wrap  justify-between gap-2 p-2">
   <a class="  text-blue-600 hover:text-red-500 font-bold rounded-lg" href="https://github.com/bhola-das/Resume/blob/main/2106038_bholadas_cse%20(2).pdf">Resume</a>
   <a class=" text-red-600  hover:text-blue-500 font-bold rounded-lg" href="https://leetcode.com/u/Bhola_Das/">Leetcode</a>
   <a  class=" text-red-600  hover:text-blue-500 font-bold" href="https://www.geeksforgeeks.org/user/bholadas858/"> gfg</a>
   <a class=" text-blue-600  hover:text-red-500 font-bold" href="/">Home</a>
  </div>  
  <div class="flex w-full flex-col md:flex-row h-full  justify-center items-center gap-2 p-5  ">
    <div class="w-[100%]  p-10 rounded">
        <div class="w-32 h-32 mb-5  "> 
            <img class="rounded-full object-cover" src="https://images.pexels.com/photos/27435437/pexels-photo-27435437.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="">
        </div>
        <h1 class="font-bold md:text-2xl mb-2 ">Hello,Myself</h1>
        <h2 class="font-bold text-2xl md:text-4xl mb-2 text-pink-300">Bhola Das</h2>
        <h3 class="font-bold  text-sm md:text-xl mb-3">I m a MERN Stack Devloper and Problem Solver...✍️</h3>
        <div class="icons flex flex-wrap gap-4 mt-3">
           <a class="text-blue-500" href="https://github.com/bhola-das"><i class="fab fa-github fa-2x"></i></a>
           <a class="text-blue-500" href="https://www.linkedin.com/in/bhola-das-6aa8b5231?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fab fa-linkedin fa-2x"></i></a>
           <a class="text-blue-500" href="">   <i class="fas fa-envelope fa-2x"></i></a>
           <a class="text-blue-500" href=""><i class="fab fa-facebook fa-2x"></i></a>
           <a class="text-blue-500" href=""><i class="fab fa-whatsapp fa-2x"></i></a>

        </div>
    </div>
    <div class="w-[70%] h-[80%]  rounded flex mt-5 ">
        <p class="font-bold">I am writing to express my keen interest in the Software Development . With a solid academic background in Computer Science and Engineering from National Institute of Technology, Patna, along with hands-on experience in various projects and a strong passion for software development, I am excited about the opportunity to contribute to your team and further enhance my skills in a professional setting.<br><br>
            During my tenure at NIT Patna, I have honed my technical skills through coursework and practical projects. Notably, my project experience includes developing innovative solutions such as Ensemble Clustering, where I spearheaded a native approach to enhance clustering accuracy and scalability across diverse datasets. Additionally, I have showcased my proficiency in full-stack development through projects like Portfolio and Pixel clone website, where I leveraged technologies like React.js to deliver seamless user experiences and robust backend functionalities.<br>
            </p>
        
    </div>
   

  </div>
  <div class="p-4">
    <p class="font-bold"> My technical skill set encompasses a range of languages including C, C++, Python, and Solidity, along with expertise in developer tools such as Visual Studio Code and frameworks like React.js and Node.js. Moreover, my experience with version control systems like Git and GitHub, coupled with my familiarity with databases like SQL and MongoDB, positions me as a well-rounded candidate capable of tackling various software development challenges.<br><br>
        Furthermore, my achievements, including solving over 650 questions on platforms like LeetCode 300 on GFG, as well as maintaining a 250 day consistant  daily challenge problem, underscore my dedication to continuous learning and problem-solving...✍️
        </p>
  </div>
</body>
</html>